[user]
	name = Nick Meharry
	email = nick@drchrono.com

[alias]
	glog = log --graph --all --decorate --dense --pretty=short --date=local
	alias = config --get-regexp 'alias\\..+'
	co = checkout
	wip = !sh -c "'git add --update && git commit --no-verify --message WIP'"
	unwip = !zsh -c "'if [[ $(git log -1 --format=format:\"%s\") == \"WIP\" ]]; then; git reset HEAD^; fi'"
	rebase-on = !sh -x -c "'git add --update && git commit --no-verify --message WIP && git up && git rebase \"${1:-dev}\" && git reset HEAD^'"
	dc = diff --cached
	stashpop = !zsh -c "'setopt PIPE_FAIL; git stash show --patch; if read -q \"REPLY?Apply this patch? [yN] \"; then echo; git stash pop; else echo; fi'"
	pushnew = !git push -u origin $(git branch | awk '/^\\* / { print $2 }')
	patdiff = difftooll -y -x patdiff
	find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep

[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[core]
	whitespace = cr-at-eol
	excludesfile = ~/.gitignore
	pager = less -F -X
[branch]
	autosetuprebase = always
[push]
	default = upstream
[include]
	path = .gitconfig.local
[rebase]
	autosquash = true
[help]
	autocorrect = 5
