# Python Extras
*_flymake.py

# Emacs backup files
*~
[#]*[#]

# Editor configuration files
.dir-locals.el

# Compiled files
*.pyc
*.elc

# Python virtual environments
.Python
.venv/
.venv
pip-selfcheck.json
*.bak
