*.elc
*~
emacs/.emacs.d/abbrev_defs
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/bookmarks
emacs/.emacs.d/el-get
emacs/.emacs.d/elpa
emacs/.emacs.d/init/nickmeharry.el
emacs/.emacs.d/request/
emacs/.emacs.d/server/server
emacs/.emacs.d/tramp
emacs/.emacs.d/url/
emacs/.emacs.d/web-vcs-log.org
ssh
zsh.d/venvs
